
@model Online_Ceramics_Store.Models.Customer


<h1>
    details for customer 1
</h1>
<div>
    <p>full name: @Model.full_name</p>
    <p>mail:@Model.email</p>
    <p>password:@Model.password</p>
    <p>phone:@Model.phone</p>
    <p>city:@Model.city</p>
    <p>address:@Model.address</p>
</div>

